.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Archived Lambda
archive.zip

terraform.tfvars

**/node_modules
**/node_modules/*

**/dist
**/dist/*
